In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('games.csv')
#file should be in the same folder i guess

df.head(3)

   game_id               title      genre  release_year  units_sold_m  rating
0        1  The Legend of Data  Adventure          2022          15.5     9.5
1        2        Python Quest        RPG          2021           8.2     8.0
2        3           SQL Arena   Strategy          2023           5.4     7.5

In [7]:
df.tail(2)

   game_id            title   genre  release_year  units_sold_m  rating
4        5  Matrix Reloaded  Action          2020           3.3     6.5
5        6        Loop Hero   Indie          2021           2.1     8.5

In [11]:
df.shape

(6, 6)

In [ ]:
df['title']
#this is series 1d

0    The Legend of Data
1          Python Quest
2             SQL Arena
3       Pandas Paradise
4       Matrix Reloaded
5             Loop Hero
Name: title, dtype: object

1. The Two Pillars of Pandas
In Pandas, almost everything is either a Series or a DataFrame:

DataFrame: The whole table (like a 2D array or an Excel sheet). It has rows and columns.

Series: A single column (like a 1D array). A DataFrame is essentially a collection of Series objects that share the same index.

2. Looking at the "Head" and "Tail"
If you have 1 million rows, you don't want to print the whole thing.

df.head(3): Shows the first 3 rows.

df.tail(2): Shows the last 2 rows.

df.info(): This is the "Health Check." It tells you if you have missing values (nulls) and what data types you have (ints, floats, objects).

In [14]:
df.info

<bound method DataFrame.info of    game_id               title       genre  release_year  units_sold_m  rating
0        1  The Legend of Data   Adventure          2022          15.5     9.5
1        2        Python Quest         RPG          2021           8.2     8.0
2        3           SQL Arena    Strategy          2023           5.4     7.5
3        4     Pandas Paradise  Simulation          2022          12.1     9.0
4        5     Matrix Reloaded      Action          2020           3.3     6.5
5        6           Loop Hero       Indie          2021           2.1     8.5>

In [ ]:
df[['game_id' , 'genre']]
#this is just a subset of the games.csv so its 2d called data frame

   game_id       genre
0        1   Adventure
1        2         RPG
2        3    Strategy
3        4  Simulation
4        5      Action
5        6       Indie

| Type      | Example         | Meaning                   |
| --------- | --------------- | ------------------------- |
| Attribute | `df.shape`      | give rows & columns       |
| Attribute | `df.columns`    | give column names         |
| Attribute | `df.dtypes`     | give data types           |
| Method    | `df.info()`     | calculate & print summary |
| Method    | `df.describe()` | compute statistics        |
| Method    | `df.head()`     | show top rows             |

ðŸ‘‰ ()â†’ DO something** ðŸ‘‰ **no()` â†’ GIVE something

Attributes = stored metadata
Methods = operations/computations

Example:

Shape is already known â†’ quick.

Describe requires math â†’ must run.

type(df.shape)   # tuple (stored value)
type(df.info)    # function/method

ðŸ§  Big Idea First

A function is something that does work.

A method is a function that belongs to an object.

An attribute is information that the object has.

Think:

ðŸ‘¤ A person

has â†’ name, age (attributes)

can â†’ walk(), talk() (methods)

Example with a DataFrame

df is an object.

It:

has data â†’ shape, columns, dtypes

can do actions â†’ info(), head(), describe()

ðŸ”¹ Attribute = HAS
ðŸ”¹ Method = DOES

Memory line:

Attributes are nouns, methods are verbs.

ðŸ”¥ Real Pandas Examples
Attribute â†’ shape
df.shape


It already exists.
Pandas just gives it to you.

No work.

Method â†’ head()
df.head()


Now Pandas must:
âœ” pick rows
âœ” format them
âœ” print

Work = parentheses needed.

ðŸ§© So how is this related to functions?

All methods are functions.

But not all functions are methods.

Normal function (independent)
print("Hello")
len([1,2,3])


They are not owned by your dataframe.

Method (owned by object)
df.head()


This function is tied to df.

|              | Function   | Method          |
| ------------ | ---------- | --------------- |
| Owner        | Nobody     | Some object     | ----> like df is some object
| How you call | `print(x)` | `x.print()`     |
| Example      | `len(x)`   | `df.describe()` |