Day 2: Filtering and the Power of Logic
Now that you can see the data, letâ€™s learn how to interrogate it. Filtering is like using a sieve to find only the gold nuggets.

In [2]:
import pandas as pd
df = pd.read_csv('games.csv')

In [3]:

df.head(3)

   game_id               title      genre  release_year  units_sold_m  rating
0        1  The Legend of Data  Adventure          2022          15.5     9.5
1        2        Python Quest        RPG          2021           8.2     8.0
2        3           SQL Arena   Strategy          2023           5.4     7.5

In [4]:
df

   game_id               title       genre  release_year  units_sold_m  rating
0        1  The Legend of Data   Adventure          2022          15.5     9.5
1        2        Python Quest         RPG          2021           8.2     8.0
2        3           SQL Arena    Strategy          2023           5.4     7.5
3        4     Pandas Paradise  Simulation          2022          12.1     9.0
4        5     Matrix Reloaded      Action          2020           3.3     6.5
5        6           Loop Hero       Indie          2021           2.1     8.5

In [6]:
# How it works: The "Boolean Mask"

# When you filter in Pandas, you aren't just saying "give me this." You are actually asking a question: "Is this row true or false?"

mask = df['rating'] > 8.0
print(mask)

0     True
1    False
2    False
3     True
4    False
5     True
Name: rating, dtype: bool

In [7]:
df[mask]

   game_id               title       genre  release_year  units_sold_m  rating
0        1  The Legend of Data   Adventure          2022          15.5     9.5
3        4     Pandas Paradise  Simulation          2022          12.1     9.0
5        6           Loop Hero       Indie          2021           2.1     8.5

mask = df['rating'] > 8.0
print(mask)
Here Pandas is asking for each row:

â€œIs rating greater than 8?â€

So it returns:

âœ” True â†’ keep
âŒ False â†’ remove later

Example output:

graphql
Copy code
0     True
1     False
2     False
3     True
...
This is called a Boolean Series.

Think of it like a checklist âœ…âŒ.

Stage 2 â†’ Using the mask to filter
python
Copy code
df[mask]
Now you are telling Pandas:

Give me ONLY rows where checklist = True.

So rows with False disappear.


ðŸŽ¯ One-line version (same thing)

Instead of two steps:
df[df['rating'] > 8.0]
Make mask â†’ use mask â†’ done.

In [ ]:
mask.sum()
# Why works?

# Because True = 1
# False = 0

3

In [ ]:
# Rules for the "Boolean Logic Pain"
# Brackets matter: Always wrap your conditions in parentheses.

# Symbols change:

# AND becomes &

# OR becomes |

df[(df['genre'] == 'Adventure') & (df['rating'] > 7.0)]

   game_id               title      genre  release_year  units_sold_m  rating
0        1  The Legend of Data  Adventure          2022          15.5     9.5

In [10]:
df

   game_id               title       genre  release_year  units_sold_m  rating
0        1  The Legend of Data   Adventure          2022          15.5     9.5
1        2        Python Quest         RPG          2021           8.2     8.0
2        3           SQL Arena    Strategy          2023           5.4     7.5
3        4     Pandas Paradise  Simulation          2022          12.1     9.0
4        5     Matrix Reloaded      Action          2020           3.3     6.5
5        6           Loop Hero       Indie          2021           2.1     8.5

In [13]:
# Your Mission: Write the Pandas code to find games that sold 
# more than 10 million units AND have a rating higher than 9.0.


df[(df['units_sold_m'] >10) & (df['rating'] > 9.0)]

   game_id               title      genre  release_year  units_sold_m  rating
0        1  The Legend of Data  Adventure          2022          15.5     9.5

In [16]:
# Your Mini-Coding Task: Using the column names units_sold_m and rating, can you write the full 
# line of code that would filter the dataframe df to show only games that meet both those criteria?

df.loc[(df['units_sold_m'] > 10) & (df['rating'] > 9.0), 'title']

0    The Legend of Data
Name: title, dtype: object

df[(df['units_sold_m'] > 10) & (df['rating'] > 9.0), 'title']
âŒ Whatâ€™s wrong?
You are trying to select:

âœ… rows (with condition)
âœ… column 'title'

BUT you are using normal df[ ].

And df[ ] cannot take rows + columns together.


Wrong door ðŸšª:

df[ rows , columns ]


Right door ðŸšª:

df.loc[ rows , columns ]

ðŸš€ Cleaner readable version professionals use
mask = (df['units_sold_m'] > 10) & (df['rating'] > 9.0)
df.loc[mask, 'title']

Understanding .loc vs .iloc is a MAJOR step toward professional pandas usage.

People who donâ€™t get this â†’ keep getting mysterious bugs.

Letâ€™s finish this forever.

ðŸ§  Big Difference in One Line
.loc  â†’ uses LABELS (names)
.iloc â†’ uses POSITIONS (numbers)




So when I wrote:

df.loc[0:2, 'title']


I used
âœ” row labels â†’ 0:2
âœ” column label â†’ 'title'

But when I wrote:

df.iloc[0:3, 0]


I used
âœ” row positions â†’ 0:3
âœ” column position â†’ 0