In [5]:
import numpy as np
import pandas as pd
df = pd.read_csv('apps.csv')

In [6]:
df.shape

(10, 7)

In [7]:
df.head(3)

   app_id       name category  rating  reviews  price  is_free
0     101  PhotoEdit    Tools     4.5   1200.0   0.00     True
1     102   DataDash  Finance     3.8      NaN   5.99    False
2     103   FitTrack   Health     4.2   8500.0   0.00     True

In [10]:
df.isnull().sum()

app_id      0
name        0
category    0
rating      1
reviews     1
price       0
is_free     0
dtype: int64

In [ ]:
df.isnull().fillna(0)

#chaining this two is wrong as isnull only checks the table 
# isnull → diagnose
# fillna → treat

   app_id   name  category  rating  reviews  price  is_free
0   False  False     False   False    False  False    False
1   False  False     False   False     True  False    False
2   False  False     False   False    False  False    False
3   False  False     False   False    False  False    False
4   False  False     False   False    False  False    False
5   False  False     False    True    False  False    False
6   False  False     False   False    False  False    False
7   False  False     False   False    False  False    False
8   False  False     False   False    False  False    False
9   False  False     False   False    False  False    False

In [17]:
df = df.fillna(0)
df

   app_id        name category  rating  reviews  price  is_free
0     101   PhotoEdit    Tools     4.5   1200.0   0.00     True
1     102    DataDash  Finance     3.8      0.0   5.99    False
2     103    FitTrack   Health     4.2   8500.0   0.00     True
3     104    PayBuddy  Finance     3.0    150.0   0.00     True
4     105  SnapFilter    Tools     4.8  20000.0   1.99    False
5     106     YogaZen   Health     0.0   3200.0   0.00     True
6     107    StockPro  Finance     4.5    500.0  12.99    False
7     108  GameManiac    Games     2.1  45000.0   0.00     True
8     109   ChatQuick    Tools     4.0    900.0   0.00     True
9     110   BudgetBee  Finance     4.1    400.0   0.00     True

In [25]:
mask = (df['category'] == 'Finance') & (df['is_free']== False)
df.loc[mask , 'name']

1    DataDash
6    StockPro
Name: name, dtype: object

In [23]:
df['revenue_potential'] = df['price'] * df['reviews']
df

,app_id,name,category,rating,reviews,price,is_free,revenue_potential
0,101,PhotoEdit,Tools,4.5,1200.0,0.00,True,0.0
1,102,DataDash,Finance,3.8,0.0,5.99,False,0.0
2,103,FitTrack,Health,4.2,8500.0,0.00,True,0.0
3,104,PayBuddy,Finance,3.0,150.0,0.00,True,0.0
4,105,SnapFilter,Tools,4.8,20000.0,1.99,False,39800.0
5,106,YogaZen,Health,0.0,3200.0,0.00,True,0.0
6,107,StockPro,Finance,4.5,500.0,12.99,False,6495.0
7,108,GameManiac,Games,2.1,45000.0,0.00,True,0.0
8,109,ChatQuick,Tools,4.0,900.0,0.00,True,0.0
9,110,BudgetBee,Finance,4.1,400.0,0.00,True,0.0

In [24]:
df.groupby('category')['rating'].mean().reset_index()

  category    rating
0  Finance  3.850000
1    Games  2.100000
2   Health  2.100000
3    Tools  4.433333