In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("games3.csv")

You have completed the core training for Week 1. Here is a quick recap of your toolkit:

Load/Inspect: read_csv, .shape, .head()

Filter: df[(cond1) & (cond2)]

Create: df['new'] = df['old'] * 1.2

Clean: df.fillna()

Summarize: df.groupby().mean()

Rank: .sort_values() and .nlargest()

One last check: If I have a list of 1,000 games and I want to see the 3 highest-rated games of all time (regardless of genre), would you use groupby or just a simple sort_values?

ans is 
df.sort_values('rating', ascending= False).head(3)
df.nlargest(3,"rating")

In [4]:
df

,game_id,title,genre,release_year,units_sold_m,rating
0,1,The Legend of Data,Adventure,2022,15.5,9.5
1,2,Python Quest,RPG,2021,8.2,8.2
2,3,SQL Arena,Strategy,2023,5.4,7.5
3,4,Pandas Paradise,Simulation,2022,12.1,8.45
4,5,Matrix Reloaded,Action,2020,3.3,6.5
...,...,...,...,...,...,...
65,66,Action Matrix,Indie,2021,8.7,9.77
66,67,Queries Action,Action,2024,1.8,6.33
67,68,Strategy Sim,Action,2024,7.0,7.04
68,69,Strategy Query,RPG,2022,8.5,8.69
69,70,Variable Reloaded,Strategy,2020,1.2,8.4829.6sExecuted code

In [6]:
df.sort_values('rating', ascending= False).head(3)

# ðŸŽ¯ BIG DIFFERENCE
# You passed	What it is
# "rating"	column name
# df['rating']	actual Series data
# sort_values is asking for only the column name nt the series itself

    game_id             title      genre  release_year  units_sold_m rating
45       46         Loop Loop      Indie          2023          16.5   9.91
24       25       Action Byte  Adventure          2023          11.2   9.89
58       59  Variables Dragon  Adventure          2024          16.9   9.88

In [ ]:
df['rating'] = pd.to_numeric(df['rating'])

ValueError: Unable to parse string "8.4829.6sExecuted code" at position 69

the above error tells there is a string 
mostly numbers + some garbage


ðŸ”¥ MOST IMPORTANT SKILL IN DS

Finding dirty values.

ðŸŽ¯ First, letâ€™s locate the bad rows
df[df['rating'].str.contains('[^0-9.]', regex=True, na=False)]

This shows rows that contain anything other than digits and dot.
You will see the criminals.

ðŸŽ¯ Alternative (if you want to clean text)
Remove unwanted words:

df['rating'] = df['rating'].str.extract(r'(\d+\.?\d*)')
df['rating'] = pd.to_numeric(df['rating'])

In [13]:
df['rating'] = pd.to_numeric(df['rating'],errors='coerce') #this fixes that makes the error as nan

In [14]:
df

,game_id,title,genre,release_year,units_sold_m,rating
0,1,The Legend of Data,Adventure,2022,15.5,9.50
1,2,Python Quest,RPG,2021,8.2,8.20
2,3,SQL Arena,Strategy,2023,5.4,7.50
3,4,Pandas Paradise,Simulation,2022,12.1,8.45
4,5,Matrix Reloaded,Action,2020,3.3,6.50
...,...,...,...,...,...,...
65,66,Action Matrix,Indie,2021,8.7,9.77
66,67,Queries Action,Action,2024,1.8,6.33
67,68,Strategy Sim,Action,2024,7.0,7.04
68,69,Strategy Query,RPG,2022,8.5,8.69
69,70,Variable Reloaded,Strategy,2020,1.2,NaN

In [15]:
df.nlargest(3 , "rating")

    game_id             title      genre  release_year  units_sold_m  rating
45       46         Loop Loop      Indie          2023          16.5    9.91
24       25       Action Byte  Adventure          2023          11.2    9.89
58       59  Variables Dragon  Adventure          2024          16.9    9.88